@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Asul&family=Eczar&family=Fruktur&family=Lato:wght@300;400&family=Neuton&family=Oswald&family=Tillana&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
     font-family: Lato, sans-serif;
     font-weight: 300;
}